{% extends "layouts/default.html" %}

{% macro carblock(href,title,descr,image,activestate) %}
<div class="item {{'active' if activestate == 0 else ''}}">
	<div class="col-xs-12 item-container">
		<div class="col-xs-10 col-sm-6 col-md-6 car-txt" >
		<a href="{{href}}">
			<i class="glyphicon glyphicon-link"></i><hh4 class="ds">{{title}}</hh4>
		</a>
			{{descr | safe}}
		</div>
		<image class="col-xs-4 car-con" src="data:image/jpeg;base64,{{image}}" onerror="this.src='/images/proj_err.png';this.onerror=null;"></image>

	</div>
</div>
{% endmacro %}

{% block headerextra %}
<div class="jumbotron mJumbotron banner">
	<h1>Sufficiently Bored</h1>
</div>
{% endblock %}

{% block content %}

{% if projects %}
{% set max_sec = range(projects.length) %}
<div class="container-fluid">
	<div id="recent-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
		<ol class="carousel-indicators carousel-indicators-bot-r">
			{% for i in max_sec %}
			<li data-target="#recent-carousel" data-slide-to="{{i}}"  class=" {{ 'active' if i == 0 else ' '}}"></li>
			{% endfor %}
		</ol>
		
		<div class="car-background mShadow">
			<hh3>Recent Projects:</hh3>
		<div class="carousel-inner">
			{% for i in max_sec %}
			{{carblock('/projects/'+projects[i]._id, projects[0].title, projects[i].sections[0].description.html, projects[0].sections[0].image, i)}}
			{% endfor %}
		</div>
		</div>

	</div>
</div>
{% endif %}

	<div class="container-fluid">
			<div class="col-xs-12 jumbotron mJumbotron mContent">
				<div class="col-xs-12 col-sm-6 col-md-4 ">
					<pp class="ds">This website is created as means to demo the different projects i have been part of during the course of my studies at the IT University of Copenhagen and during my professional career.</pp>
				</div>
				<div class="col-xs-12 col-sm-5 col-md-4">
					<image src="/images/language/java.webp" class="col-xs-4"></image>
					<image src="/images/language/c-cpp.png" class="col-xs-4"></image>
					<image src="/images/language/python.png" class="col-xs-4"></image>
					<image src="/images/language/node.svg" class="col-xs-4"></image>
					<image src="/images/language/unity.png" class="col-xs-4"></image>
					<image src="/images/language/html5.png" class="col-xs-4"></image>
				</div>
				<div class="col-xs-12 col-md-4">
					<pp class="ds">Projects are of a wide variety, including desktop applications, web applications, and native android applications.<br>
						Additionally i have experimented with popular frameworks.</pp>
				</div>
				<div class="col-xs-12">
					<br>
				</div>
				<pp class="ds col-xs-12" style="text-align: center; font-size: x-large;">
					If i have peeked your interest feel free to browse in the projects
				</pp>
			</div>
	</div>

<script>
	$(document).ready(function(){
		setup_swipe('recent-carousel');
	})
</script>

{% endblock %}

