{% extends "layouts/default.html" %}

{% macro carblock(href,title,descr,image,activestate) %}
<div class="item {{activestate}}">
	<div class="container col-xs-12 item-container text-center">
		<a href="{{href}}">
			<i class="glyphicon glyphicon-link"></i><hh4 class="ds">{{title}}</hh4>
		</a>
		<image class="col-xs-4 pull-left car-con" src="data:image/jpeg;base64,{{image}}" onerror="this.src='/images/proj_err.png';this.onerror=null;"></image>
		<div class="col-xs-10 col-sm-6 col-md-6 car-con car-txt pull-right" >{{descr}} </div>		
	</div>
</div>
{% endmacro %}

{% block headerextra %}
<div class="jumbotron mJumbotron banner">
	<h1>Sufficiently Bored</h1>
</div>
{% endblock %}

{% block content %}

{% if projects %}
<div class="container-fluid">
	<div id="recent-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
		<ol class="carousel-indicators carousel-indicators-bot-r">
			<li data-target="#recent-carousel" data-slide-to="0" class="active"></li>
			<li data-target="#recent-carousel" data-slide-to="1"></li>
			<li data-target="#recent-carousel" data-slide-to="2"></li>
		</ol>


		<div class="carousel-inner car-background mShadow">
			{{carblock('/projects/'+projects[0]._id,projects[0].title, projects[0].sections[0].description, projects[0].sections[0].image, 'active')}}
			{{carblock('/projects/'+projects[1]._id,projects[1].title, projects[1].sections[0].description, projects[1].sections[0].image, '')}}
			{{carblock('/projects/'+projects[2]._id,projects[2].title, projects[2].sections[0].description, projects[2].sections[0].image, '')}}
		</div>

		<!-- 
		<a class="left carousel-control" href="#recent-carousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#recent-carousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
			<span class="sr-only">Next</span>
		</a>
		Left and right controls -->
	</div>
</div>
{% endif %}

	<div class="container-fluid">
			<div class="col-xs-12 jumbotron mJumbotron mContent">
				<div class="col-xs-12 col-sm-6 col-md-4 ">
					<pp class="ds">This website is created as means to demo the different projects i have been part of during the course of my studies at the IT University of Copenhagen and during my professional career.</pp>
				</div>
				<div class="col-xs-12 col-sm-5 col-md-4">
					<image src="/images/language/java.webp" class="col-xs-4"></image>
					<image src="/images/language/c-cpp.png" class="col-xs-4"></image>
					<image src="/images/language/python.png" class="col-xs-4"></image>
					<image src="/images/language/node.svg" class="col-xs-4"></image>
					<image src="/images/language/unity.png" class="col-xs-4"></image>
					<image src="/images/language/html5.png" class="col-xs-4"></image>
				</div>
				<div class="col-xs-12 col-md-4">
					<pp class="ds">Projects are of a wide variety, including desktop applications, web applications, and native android applications.<br>
						Additionally i have experimented with popular frameworks.</pp>
				</div>
				<div class="col-xs-12">
					<br>
				</div>
				<pp class="ds col-xs-12" style="text-align: center; font-size: x-large;">
					If i have peeked your interest feel free to browse in the projects
				</pp>
			</div>
	</div>


{% endblock %}

<script>
	
</script>
