{% extends "layouts/default.html" %}

{% macro descblock(descr) %}
<div class="col-xs-11 col-sm-8 col-md-9">
	<textarea readonly class="ds pro-item-descr col-xs-12" style="text-justify: distribute">
		{{descr}}
	</textarea>
</div>
{% endmacro %}
{% macro imgblock(src) %}
<div class="col-xs-1 col-sm-4 col-md-3">
	<image class="col-xs-12" src="{{src}}" onerror="this.src='/images/proj_err.png';this.onerror=null;"></image>
</div>
{% endmacro %}

{% macro secblock(state, descr, image, activestate) %}
<div class="item mbox {{ 'active' if activestate === 0 else '' }}">
	<div class="item-container container col-xs-12">
		{% if state === 0 %}
		{{ descblock(descr) }}
		{{ imgblock('data:image/jpeg;base64,'+image) }}
		{% else %}
		{{ imgblock('data:image/jpeg;base64,'+image) }}
		{{ descblock(descr) }}
		{% endif %}
	</div>
</div>
{% endmacro %}

{% block content %}
	<div class="container-fluid">
		<div class="jumbotron mJumbotron mContent col-xs-12">
			{% if project %}
			{% if user.canAccessKeystone %}
				<a href="/admin/createproject?pid={{pid}}">
					<pp class=""><i class="glyphicon glyphicon-edit"></i><hh3 class="ds">{{ project.title }}</hh3>
					</pp>
				</a>
			{% else %}
			<hh3 class="ds">{{ project.title }}</hh3>
			{% endif %}
			<hr>
			{% set max_sec = range(project.sections.length) %}
			{% set cls = cycler(0, 1) %}
				<div id="recent-carousel" class="carousel slide mbox col-xs-12" data-ride="carousel" data-interval="0">
					<ol class="carousel-indicators carousel-btn carousel-indicators-top-r">
						{% for i in max_sec %}
							<li data-target="#recent-carousel" data-slide-to="{{i}}"  class=" {{ 'active' if i == 0 else ' '}}"></li>
						{% endfor %}
					</ol>
					
					<div class="carousel-inner mbox">
						{% for i in max_sec %}
							{{ secblock( cls.next(), project.sections[i].description, project.sections[i].sec.image, i ) }}
						{% endfor %}
					</div>
				</div>
	
				{% if project.links.length > 0 %}
				<hr>
				<div class="col-xs-12">
					{% for link in project.links %}
					<pp class="ds col-xs-6 col-md-4"><a id="{{link}}" href="{{link}}">{{link}}</a></pp>
					{% endfor %}
				</div>
				{% endif %}
			{% else %}
			PROJECT {{ pid }}
			{% endif %}
		</div>
	</div>
{% endblock %}
