{% extends "layouts/default.html" %}

{% block content %}
<!-- the modal -->
<div id="filter_modal" class="backdrop modal-hide col-xs-12 row">
	<!-- modal content -->
	<div class="col-xs-1 col-md-4"></div>
	<div class="mcontent modal-content col-xs-10 col-md-4">
		<div>
			<span onclick="modal_hide('filter_modal');" class="close">&times;</span>
		</div>
		<br>
		<br>
		<form id="cbroot">
			<div class="input-group row col-xs-12">
				{% for cat in data.categories %}
				<div class="col-md-4 col-xs-6">
					<label class="checkbox-inline">
						<input class="cbid " type="checkbox" value="{{cat._id}}"
							   {% if meta[cat._id].checked %}
							   checked
							   {% endif %}
							   name="{{cat.name}}">{{cat.name}}
					</label>
				</div>
				{% endfor %}
			</div>
		</form>
		<br>
		<form id="filter-form">
			<input type="hidden" value="{{getmeta}}" id="meta-data">
			<button class="btn btn-success col-xs-12" onclick="return apply_click('meta-data')">apply</button>
		</form>
	</div>
</div>

<div id="section_modal" class="backdrop modal-hide col-xs-12 row">
	<!-- modal content -->
	<div class="col-xs-1 col-md-1"></div>
	<div class="mcontent modal-content col-xs-10 col-md-10">
		<div>
			<span onclick="modal_hide('section_modal');" class="close">&times;</span>
		</div>
		<br>
		<form id="section-form">
			<textarea class="col-xs-12" form="section-form" name="sec-edit-section-value"></textarea>
			<image id="sec-edit-img-ph" src="" onerror="this.src='/images/proj_err.png';this.onerror=null;"></image>
			<div id="sec-edit-img-preview"></div>
			<div id="sec-edit-img-button" class="hidden"><span onclick="imageclear('sec-edit-img-ph','sec-edit-img-preview');" class="close">&times;</span></div>
			<input type="hidden" value="sec-edit-img-val">
			<input type="hidden" value="{{getmeta}}" id="meta-data-sec">
			<button class="btn btn-success col-xs-12" onclick="return apply_click('meta-data-sec')">apply</button>
		</form>
	</div>
</div>


<script src="../../js/image/component.js"></script>

<div class="container-fluid">
	<div class="jumbotron mjumbotron mcontent col-xs-12">
	{% if user.canAccessKeystone %}
		{% if not data.validationerrors %}
			{% if data.project %}
				{% if data.project.sections and data.project.sections.length > 0 %}
					<h2 class="ds">existing sections:</h2>
					{% for sec in data.project.sections %}
						<div class="col-xs-12">
							<div class="col-xs-9 ds"> {{ sec.description.html | safe }} </div>
							<image class="col-xs-1" src="data:image/jpeg;base64,{{sec.image}}" onerror="this.src='/images/proj_err.png';this.onerror=null;"></image>
	<!--						<button class="btn btn-danger glyphicon glyphicon-remove pull-right" onclick=""></button>
							<button class="btn btn-default glyphicon glyphicon-edit pull-right" onclick="modal_seed('sec')"></button> -->
						</div>
					{% endfor %}
				{% else %}
				<h2 class="ds">add a section:</h2>
				{% endif %}
			
			<form id="sec-form" class="col-xs-12" method="post">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-align-center"></i></span>
					<textarea class="form-control" style="resize: none" rows="8" name="description" value="{{formdata.description}}" placeholder="description"></textarea>
				</div>
				<div class="input-group mjumbob col-xs-12">
					<div id="imgph" class="col-xs-12" ></div>
					<div id="imgpreview" class="col-xs-12" ></div>
				</div>
					<input type="hidden" name="pid" value="{{ data.pid }}">
					<input type="hidden" name="action" value="section.create">
					<div class="input-group col-xs-12">
						<span class="input-group-addon btn btn-danger" ><i id="img_reset_btn" onclick="return imageclear('imgph','imgpreview');" class="glyphicon glyphicon-remove hidden"></i></span>
						<input class="form-control" id="img_select" type="file" accept="image/*" onchange="return imagechange();" >
						<span class="input-group-addon btn btn-success" onclick="$('#sec-form').submit()"><i class="glyphicon glyphicon-plus"></i></span>
					</div>
	
			</form>
			{% else %}
			<h2 class="ds">create a new project:</h2>
			<form id="proj-form" class="col-xs-12" method="post">
				<div class="col-md-12 col-xs-12">
					<div class="input-group">
						<span class="input-group-addon">start date</span>
						<input id="from" type="date" class="form-control" name="from" value="{{formdata.from}}">
						<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
					</div>
					<div class="input-group">
					<span class="input-group-addon"> end date </span>
					<input id="to" type="date" class="form-control" name="to" value="{{formdata.from}}">
					<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
				</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></span>
						<input disabled id="cats_label" type="text" class="form-control" name="cats" value="{{formdata.cats}}" onchange="function(){console.log('input change');};" placeholder="chose categories">
						<span class="input-group-addon btn btn-success" onclick="modal_show('filter_modal');" class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
						<input id="cats_val" type="hidden" name="cats_val" value="{{formdata.catsval}}">
					</div>
					<br>
	
					<div class="input-group col-xs-12">
						<span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
						<input id="title" type="text" class="form-control" name="title" value="{{formdata.title}}" placeholder="project title">
						<span class="input-group-addon btn btn-success" onclick="$('#proj-form').submit()"><i class="glyphicon glyphicon-plus"></i></span>
					</div>
					<input type="hidden" name="action" value="project.create">
				</div>
			</form>
			{% endif %}
		{% else %}
		{{ data.validationerrors }}
		{% endif %}
	{% else %}
		<a href="/">you require admin access to be able to edit content...</a>
	{% endif %}
</div>
</div>

<script type="text/javascript">
//	$('.cho-sel').chosen({});
	
	function modal_seed(section) {
		$('#section_modal').find('#sec-edit-section-value').attr('val', section.description.md);
		$('#section_modal').find('#sec-edit-img-ph')
				.attr('src', 'data:image/jpeg;base64,'+section.image)
				.attr('onerror', "this.src='/images/proj_err.png';this.onerror=null;");

		modal_show('section_modal');
	}
	
	function savetoform() {
		
		var $ph = $('.mdata');

		$ph.foreach( function (item) {
			console.log( item.name );
		} );
//		for( _img in  ) {
//			console.log( _img.src );	
//		}

		return false;
	}

	function imageclear(edit_ph, preview_ph) {
		$('#img_reset_btn').addclass('hidden');
		$('#fimg_id').removeclass('hidden');

		var placeholder = document.getelementbyid(edit_ph), placeholder2 = document.getelementbyid(preview_ph);
		while( placeholder.firstchild || placeholder2.firstchild ) {
			if( placeholder.firstchild ) placeholder.removechild( placeholder.firstchild );
			if( placeholder2.firstchild ) placeholder2.removechild( placeholder2.firstchild );
		}
		$('#img_select').values = '';

		return false;
	}
	function imagechange() {
		$('#fimg_id').addclass('hidden');

		var imgs = document.getelementbyid('img_select');

		var nm = [];
		for (var i = 0; i < imgs.files.length; i++) {
			nm[i] = (i+1)+') '+imgs.files[i].name+'\n'
			if(i > 4 ) break;
		}

		var limit = imgs.files.length;
		
		if( limit > 4){
			alert('limit is 4 files, some elements will be ignored:\n ' + nm);
			limit = 4;
		}
		
			for (var i = 0; i < limit; i++) {
				load_from_file('imgph', imgs.files[i], i);
			}

		//prepare image reset button
		$('#img_reset_btn').removeclass('hidden');
		return false;
	};
	
	function apply_click(meta_id) {
			var meta =  $('#'+meta_id).attr('value');
			console.log('raw ' + meta);
			var jmeta = json.parse( meta );
			console.log('pos ' + jmeta);
			return getcheckboxlist('cbid', function(r){
				var $inp = $('<input>');
				$inp.attr({
					id: 'cats_val',
					type: 'hidden',
					name: 'cats',
					value: r
				});
				$('#filter-form').find('#cats_val').replacewith($inp);
				$('#proj-form').find('#cats_val').replacewith($inp);
				
				var lbl = [];
				console.log('result ' + json.stringify(r));
				
				for(var i = 0; i < r.length; i++ ) {
					console.log('key ' + r[i]);
					lbl.push( jmeta[ r[i] ].label );
				}
				console.log(lbl);
				$('#cats_label').attr('value', lbl);
				//$('#cats_val').attr('value', lbl);
				
				modal_hide('filter_modal');

				return false;
			});
	};

</script>
{% endblock %}
