.mContent {
  margin-top: 20px;
}

.mJumbob {
  background-color: whitesmoke;
}

.mJumbotron {
  background-color: white;
  border-radius: 0px !important;
  //border: solid darkslategray;
  box-shadow: 4px 6px rgba(0,0,0,0.55);
}

.mShadow {
  box-shadow: 4px 6px rgba(0,0,0,0.55);
}

body {
	background-color: black;
  	background-image: url("/images/background.jpg");
  	background-repeat: repeat-y;
  	background-attachment: fixed;
  	background-size: 100%;
}

.ds {
  color: black;
}

pp {
  font-family: 'Lora', serif;
  font-size: large;
}
