#header {
	//margin-bottom: 10px;
}



#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

.banner {
  background-image: url('/images/banner2.jpeg');
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-size: 100%;
  font-family: "Arial Black";
  text-align: center;
  text-shadow:
			-1px -1px 0 #000,
			1px -1px 0 #000,
		  -1px 1px 0 #000,
		  1px 1px 0 #000;
  color: white;
}
