.mNav {
	background-color: darkblue;
  box-shadow: 4px 6px rgba(0,0,0,0.55);
}

.mNavLabel {
  color: white;
}
.mNavLabel-nohover {
  color: white;
}

.activeText {
  color: darkslategrey;
}

.activeh:hover {
  background-color: greenyellow !important;
}

.mNavLabel:hover {
//  color: black;
  text-decoration: underline overline;
}
/**
.mNavItem {
   background-color: lightgray;
 }
.mNavItem:hover {
  color: cornflowerblue;
}
**/
